Checks: >
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -*-braces-around-statements,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -*-non-const-parameter,
  -bugprone-easily-swappable-parameters,
  -*-magic-numbers,
  -*-macro-to-enum,
  -performance-no-int-to-ptr,
  -clang-analyzer-core.FixedAddressDereference,
  -hicpp-no-assembler,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -modernize-avoid-c-style-cast,
  -bugprone-reserved-identifier,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -readability-function-cognitive-complexity,
  -bugprone-branch-clone,
  -clang-analyzer-optin.performance.Padding

WarningsAsErrors: '*'

CheckOptions:
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             bugprone-signal-handler.AsyncSafeFunctionSet
    value:           POSIX
  - key:             misc-include-cleaner.IgnoreHeaders
    value:           '.*errno\.h>?;.*/bits/.*'
